@media  (max-width: 1200px) {
    .head .head_link {
        font-size: 12px;
    }
    .head .head_icon {
        padding-right: 35px;
    }   
}

@media (max-width: 999px) {
    .head .head_link {
        font-size: 9px;
    }
    .head .head_icon {
        padding-right: 23px;
    }
    .col-xl-4 .col_text {
         font-size: 28px;
    }
    .col-xl-4 .head1_icon {
        width: 46px;
   }
   .col_text1 {
       font-size: 10px;
   }
   .col-xl-3 .text_number{
       font-size: 8px;
   }
   .col-xl-3 .number_link {
       font-size: 24px;
   }
   .text_button {
       font-size: 8px;
   }
}


@media (max-width: 770px) {
    .head .head_link {
        font-size: 7px;
    }
    .head .head_icon {
        padding-right: 11px;
    }
    .col-xl-4 .col_text {
         font-size: 20px;
    }
    .col-xl-4 .head1_icon {
        width: 35px;
   }
   .col_text1 {
       font-size: 7px;
   }
   .col-xl-3 .text_number{
       font-size: 3px;
   }
   .col-xl-3 .number_link {
       font-size: 14px;
   }
   .text_button {
       font-size: 8px;
       margin-top: 5px;
   }
   .head1 {
       height: 55px;
   }
 
   .col-xl-2  .btn-primary {
    color: #fff;
    background-color: #688db4;
    border-color: 688db4;
    padding-top: 0px;
    padding-bottom: -10px;
    margin-top: -5px; }
}

@media (max-width: 580px) {
    .head .head_link {
        font-size: 7px;
    }
    .head .head_icon {
        padding-right: 11px;
    }
    .col-xl-4 .col_text {
         font-size: 20px;
    }
   .col_text1 {
       font-size: 7px;
       padding-left: 100px;
   }
   .col-xl-3 .text_number{
       display: none;
   }
   .col-xl-3 .number_link {
       display: none;
   }
   .text_button {
       font-size: 8px;
       margin-top: 5px;
   }
   .head1 {
       height: 55px;
   }
 
   .col-xl-2 {
       display: none;
   }


   .col-xl-2  .btn-primary {
    color: #fff;
    background-color: #688db4;
    border-color: 688db4;
    padding-top: 0px;
    padding-bottom: -10px;
    margin-top: -5px; }

    .col-xl-4 {
        padding-left: 120px;
    }
}

@media (max-width: 500px) {
    .head {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        top: 0;
        left: -270px;
        width: 50%;
        height: 100vh;
        padding: 20px 0px;
        background-color: rgba(0,0,0, .8);  
    }
        .head_active {
            left: 0;
        }
        
            .head .head_icon {
                padding-right: 0;
                border: none;
                margin: 10px;
            }
                .head .head_link {
                    
                    font-size: 20px;
                }

        .hamburger {
            display: block;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
        }     
                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    margin-bottom: 2px; 
                }               
}
