* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    height: 75px;
    background: #4a76a8;
}

.container { 
    
    width: 1140px;
    margin: 0 auto;
}
.box_logo {
    position: relative;
    display: inline-flex;
}

.box_logo_img {
    width: 75px;
}

.text {
    font-size: 50px;
    margin-top: 10px;
}

.menu   {
    display: inline-flex;
    margin-left: 150px;
    font-size: 36px;
    margin-top: 18px;
}

.menu1 {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    height: 45px;
    margin-right: 50px;
    background: whitesmoke;
}

.menu2 {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    height: 45px;
    margin-right: 50px;
    background: whitesmoke;
}

.menu3 {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    height: 45px;
    margin-right: 50px;
    background: whitesmoke;
}

.menu4 {
    font-size: 14px;
    text-align: center;
    margin-left: 150px;
    margin-top: 10px;
    width: 150px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    height: 25px;
    margin-right: 50px;
    background: whitesmoke;
}

.menu4_text {
    margin-top: 4px;
}

.text_menu {
    font-size: 18px;
    line-height: 50px;
}



.left_menu {
    display: inline-flex;
}

.left_menu_img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.left_menu_text {
    margin-left: 10px;
}