nav {
    height: 70px;
    background: rgb(43, 43, 43);
}

header {
    position: relative;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    list-style: none;
}

.head .head_link {
    color: white;
    font-size: 18px;
}

.head .head_icon {
    border-right: 2px solid black;
    padding-right: 25px;
}

.head_icon:last-child {
    border-right: none;
}

:last-child {
    border-right: none;
}

.hamburger {
    display: none;
}

.head1 {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: rgb(3, 3, 3, .6);
}

.col-xl-4 {
    padding-top: 5px;
}

.col-xl-4 .head1_icon {
    float: left;
    width: 50px;
}


.col-xl-4 .col_text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding-left: 60px;
    padding-top: 5px;
}

.col-xl-4 .col_text1 {
    color: rgb(199, 199, 199);
}

.col-xl-3 {
    padding-left: 70px;
    padding-top: 5px;
}

.col-xl-3 .text_number {
    color: white;
    font-size: 12px;
    padding-left: 56px;
}

.col-xl-3 .number_link {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background-color: #688db4;
    border-color: 688db4;
    padding-top: 15px;
    padding-bottom: 2px;
}

.col-xl-2 {
    padding-top: 10px;
}

.bot_primary {
    padding-top: 50px;
}


.box {
    text-align: center;
    height: 600px;
    background: url('../img/Шапка.jpg') center center/cover no-repeat;
}

.box .box_text {
    padding-top: 110px;
    text-transform: uppercase;   
}

    .box .box_text .box_text1 {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.box .box_text .box_text2 {
    font-size: 46px;
    color: white;
}

h1 {
    line-height: 30px;
}

.box_text3 {
    color: white;
    font-size: 12px;
    padding-top: 10px;
}

.button1 {
    padding-top: 100px;
}

.box2 {
    text-align: center;
    height: 1200px;
}

.box2_logo {
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: black;
}

.box2_icon {
    float: left;
    padding-top: 20px;
}

.box_o {
    padding-top: 50px;
}

.box2_1 {
    text-align: left;
    display: inline-block;
    width: 500px;
    margin-bottom: 50px;
    margin: 25px;
}

span {
    color: cornflowerblue;
}

.box2_text {
    padding-left: 140px;
}
