* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo {
    height: 700px;
    background: url(../img/картинка2.jpg) center center/cover;
}

.container { 
    width: 1000px;
    margin: 0 auto;
}

.promo_logo {
    text-align: center;
    margin: 0 auto;
}

.promo_logo .logo_img {
    width: 150px;
    margin-top: 50px;
}

.promo_logo .logo_text {
    font-size: 24px;
    font-weight: 800;
}

.promo_text {
    text-align: center;
    margin-top: 50px;
}

.text {
    font-size: 30px;
    font-weight: 500;
}

.text1 {
    font-size: 46px;
    margin: 10px;
    font-weight: 900;
    color: darkred;
    text-transform: uppercase;
}

.text_1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: darkred;
    margin-top: 50px;
}

.text_h3 {
    text-transform: uppercase;
    font-size: 19px;
}


.promo1 {
    height: 750px;
    background: url(../img/картинка2.jpg) center center/cover;
}

.box {
    text-align: center;
    margin: 0 auto;
}

.box .box1 {
    display: inline-block;
    width: 300px;
    height: 250px;
    margin-top: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: currentColor;
    margin-left: 15px;
}

.box .box1 .box_img {
    width: 100px;
    margin-top: 15px;
}

.box .box1 .box_text {
    font-size: 18px;
    margin-top: 12px;
}


